<div class="mention">
	<a class="mentioned-by" href="mailto:team@yieldmore.org">Imran</a> in Nov 2022<br />
<pre>We usually only see work as a little thing that sustains our own lives.
But as a macrocosm, work is due to undergo many metamorphoses.
We enact reforms here and search for utopia there all the while thinking
When that grand Yoga will change the very way we work in it's entirety.

Is is possible that one day we'll dance at the Divine's Ball on a Common Planet?
Where we'll no longer have masters or monarchs, be Lords of our destinies.
I pray you to look at the evolution of economics laid out by Remzi Bajrami,
And tell us it is indeed time to let go the old ways of subjugation and cruelty.

I say we need his Flow Credit system if we are indeed going to make the world work.
We some have our epiphanies and this was his, to make our society work.
It's broken down and we're all circling the drain as failed social mutations.
And cancerous companies grow ever more fearsome as they lack a heart that sings.

Sings a balming profundity that each shall be his brother's and sister's keeper,
Learn what character truly is like those indigenous people had of old.
In our madness for sustenance, did we stop letting the Yoga do its work?
Let's now let work morph into it's divine future and no longer maim or control.

This very moment, we withdraw our sanction from  poverty, homelessness and war.
We eliminate the need for banks, debt and taxes forever!
Let's imagine a world which is fair and that begs us to be good to one another,
Especially on the work front for then we would have the ingredients for a world wide utopia.</pre> ~ <a href="#471">Work, 3 Nov</a>
</div>

<div class="mention">
	<a class="mentioned-by" href="mailto:team@yieldmore.org">Imran</a> in Nov 2022<br />
<pre>I tell you Remzi, the Kingdom can be manifest now,
If only people would listen to the voices inside
Where buried deep is the transcendent soul
And yet through it all, the sun does shine

As more people like you shine your truth on us.
9 years ago, I spoke of the loving movements
Than can transform our's to the Life Divine
Your's certainly is one such, so weave it well

Into the Fabric of this world, Her need is dire.
Enough of monarchs and fiefdoms which carve us,
Let's dance to Mother Earth's delight and become
The flame, for then indeed will life be beautiful,

Touching as in every interchange we show kindness
To those living beings around, for all are sentient.
Enough of corruption, here and now is the day when
Love unmanifest shall go out into the world,

And be manifest, binding us all together for, you see
The word was with God and it was Love, so ponder deep
The riddle of this world and become a force for good,
As giants emerge and pave the way for that Kingdom</pre> ~ <a href="https://imran.yieldmore.org/planet/">Planet, 22 Feb</a>
</div>
