<div class="home-content">
	<img src="../assets/common-planet-book-cover.jpg" alt="book cover" style="max-width: 80%" />

	<h2>Perspectives</h2>
	<img src="../assets/imrans-perspective.jpg" alt="book cover" style="max-width: 80%" />

	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4AEJaxJXSDm5NPXBnimoeE?utm_sourc=generator" width="90%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe><br /><br />
</div>
