#chart-wrapper {
	background: url(artistic-border.png) center center no-repeat;
	background-size: cover;
	height: 600px;
	width: 600px;
	padding: 100px 0 0 100px;
	margin: 20px auto 20px auto;
}

#chart {
	height: 300px;
	width: 300px;
}

.yin {
	fill: #AFDEFE;
}

.yang {
	fill: #B1C3EA;
}