body { cursor: default; }

.home-content { text-align: center; }

.toggle-engage { text-align: center; padding: 10px; cursor: pointer; text-decoration: underline; }
.engage { background-color: #b8e5e5; padding: 20px; }

.img-fluid { width: 100%; }

/* https://stackoverflow.com/a/24630169 */
@media screen and (min-aspect-ratio: 13/9) { /* landscape */
	.show-in-portrait { display: none; }
} 
@media screen and (max-aspect-ratio: 13/9) { /* portrait */
	.show-in-landscape { display: none; }
}

.above-header-content { margin: 150px 0 0 0;  }
@media screen and (max-width: 994px) { /* responsive snap */
	.above-header-content { margin: 70px 0 0 0; }
}

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.deck-container { height: 90vh; margin-right: 40px; }
.deck-container iframe { width: 100%; height: 100%; }

#glossary .has-definition { text-decoration: underline; color: navy; font-weight: bold; }
#glossary .definition { border-left: 3px solid navy; padding: 15px; }

.mention { border-left: 3px solid navy; margin-bottom: 25px; padding: 6px; }
.mentioned-by { font-size: 120%; }
.mention pre { font-size: 120%; white-space: pre-wrap; }

#footer-content .social-links { font-size: 40pt; text-align: center; }
#footer-content .social-links a { text-decoration: none!important; }
